---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.left { float: left; }
.right { float: right; }
.text-center {text-align: center;}
.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

@media(max-width:992px) {

  #page-profile .profile{
    margin:0 auto 20px auto;
  }

}

@media(max-width: 479px) {

  #page-welcome header h1 {
    font-size: 2em;
  }

  #page-welcome header p {
    font-size: 1em;
    line-height: 3em;
  }

 .section-title {
  font-size: 1.5em;

  }

  .section-header p {
    font-size: 1.2em;
  }

  #page-skills{
    text-align: center;
  }

  #grid{
    text-align: center;
  }

  #page-profile .profile {
    margin:0 auto 20px auto;
  }

}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "charts",
        "dividers",
        "forms",
        "icons",
        "layout",
        "navigation",
        "portfolio",
        "slider"
;
