<section id="puppy-map" class="puppy-map">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>Map</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle">Follow the journey in real-time on our interactive map</p>
    </header>
    <div class="row">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d317217.32668247307!2d-0.7627733!3d51.6001178!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1440345278547" width="1100" height="400" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
