<section id="puppy-waypoints" class="puppy-waypoints">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>Waypoints</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle">Estimated timing and stops</p>
    </header>
    <div class="row">
      <div class=".table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Waypoint</th>
              <th>ETA</th>
              <th>Duration</th>
              <th>Elapsed Time</th>
              <th class="no-mobile">Section Distance</th>
              <th class="no-mobile">Distance (km)</th>
            </tr>
          </thead>
          <tbody>
            {% for p in site.data.waypoints.points %}
              <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.eta }}</td>
                <td>{{ p.duration }}</td>
                <td>{{ p.elapsed }}</td>
                <td class="no-mobile">{{ p.sdistance }}</td>
                <td class="no-mobile">{{ p.tdistance }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
