<section id="puppy-what" class="puppy-what">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>What</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle"></p>
    </header>
    <div class="row">
      <p>
        Starting midday on October 3rd 2015 Eugene, Nic and Phil will Stand Up Paddleboard for 100 miles in one continuous run from Donnington Bridge, Oxford to Kew Bridge, London. The route crosses 30 locks and will have the added complications of navigating through the dead of night.
      </p>
    </div>
  </div>
</section>
