<section id="puppy-why" class="page-donate">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>Why</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle"></p>
    </header>
    <div class="row">
      <p>
        We are hoping to raise money for the Little Black Puppy Charity, a charity set up by Nic’s wife Rae to support the Little Adoption Shop and Dr Beck &amp; Stone pet hospital to treat and re-home the strays of Beijing. It is the first animal charity of its kind to operate in China.
      </p>
    </div>
  </div>
</section>
