<section id="page-contact" class="page-contact">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>Contact</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle">For any questions about the Little Black Puppy Charity or if you would like to do something epic for us to help, please get in touch.
      </p>
    </header>
    <div class="row">
      <div class="col-sm-5 contact-info">
        <h3>Contact Info</h3>
        <p><i class="fa fa-map-marker"></i> 186 Thames Road, Chiswick, W4 3QR</p>
        <p><i class="fa fa-phone"></i> +44(0) 208-1777</p>
        <p><i class="fa fa-envelope-o"></i> contact@blackpuppy.info</p>
      </div>

      <div class="col-sm-7" id="stuff">
        <h3>Get in Touch</h3>
        <div id="contactus"></div>
      </div>
    </div><!-- End row -->

  </div>
</section>
