<section id="page-donate" class="page-experience">
  <div class="container">
           <header class="section-header">
               <h2 class="section-title"><span>Donate</span></h2>
                <div class="spacer"></div>
               <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p>
           </header>
           <div class="row">
            <div class="col-md-4">
             <article class="experience">
               <header>
                 <h3>Paypal</h3>
                 <p>Donate with Paypal</p>
               </header>
                 <p>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="STHBEZVQXTAVU">
                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                    <img alt="PayPal – The safer, easier way to pay online." border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                  </form>
                 </p>
             </article>
           </div>
             <div class="col-md-4">
             <article class="experience">
               <header>
                 <h3>Instagram</h3>
                  <p>Visual Designer / San Francisco, CA / 2010 - 2013</p>
               </header>
                 <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
             </article>
           </div>
           <div class="col-md-4">
           <article class="experience">
             <header>
               <h3>Facebook</h3>
                <p>Product Designer / San Francisco, CA / 2005 - 2010</p>
             </header>
               <p>Lorem ipsum dolor sit amet, ut pri munere perfecto sadipscing, nam habeo legere disputationi ea. Vis nostrud intellegat eu, in vix erat abhorreant accommodare. Vix id elit albucius suavitate. Eos mentitum forensibus et. Vix et quidam moderatius, cu vim quem tibique constituam.</p>
           </article>
           </div>
       </div>
   </div>
</section>
