<section id="page-portfolio" class="page-portfolio">
     <div class="container">
       <div class="row">
           <header class="section-header">
               <h2 class="section-title"><span>Photos</span></h2>
                 <div class="spacer"></div>
               <p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel.</p>
           </header>

           <div id="grid-controls-wrapper">
           <ul class="nav nav-pills center-pills grid-controls">
             <li class="active filter"><a href="javascript:void(0)" data-filter="*">All</a></li>
             <li class="filter" ><a href="javascript:void(0)" data-filter=".adoption">Little Adoption Shop</a></li>
             <li class="filter" ><a href="javascript:void(0)" data-filter=".beck-stone">Dr Beck and Stone</a></li>
             <li class="filter"><a href="javascript:void(0)"  data-filter=".began">Where it all began</a></li>
           </ul>
         </div>

         <div>
           <ul id="grid" class="grid-wrapper">
             <li class="mix adoption" >
              <a href="img/portfolio/large/01.png">
                <div class="overlay">
                  <i class="fa fa-search"></i>
                </div>
                <img src="img/portfolio/small/01.png" alt="photo" >
              </a>
             </li>
             <li class="mix adoption">
               <a href="img/portfolio/large/02.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/02.png" alt="photo" >
               </a>
             </li>
             <li class="mix adoption">
               <a href="img/portfolio/large/03.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/03.png" alt="photo" >
               </a>
             </li>
             <li class="mix adoption">
               <a href="img/portfolio/large/04.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/04.png" alt="photo" >
               </a>
             </li>
             <li class="mix adoption">
               <a href="img/portfolio/large/05.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/05.png" alt="photo" >
               </a>
             </li>
             <li class="mix adoption">
               <a href="img/portfolio/large/06.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/06.png" alt="photo" >
               </a>
             </li>
             <li class="mix began">
               <a href="img/portfolio/large/07.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/07.png" alt="photo" >
               </a>
             </li>
             <li class="mix began">
               <a href="img/portfolio/large/08.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/08.png" alt="photo" >
               </a>
             </li>
             <li class="mix began">
               <a href="img/portfolio/large/09.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/09.png" alt="photo" >
               </a>
             </li>
             <li class="mix began">
               <a href="img/portfolio/large/10.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/10.png" alt="photo" >
               </a>
             </li>
             <li class="mix began">
               <a href="img/portfolio/large/11.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/11.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/12.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/12.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/13.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/13.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/14.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/14.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/15.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/15.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/16.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/16.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/17.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/17.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/18.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/18.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/19.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/19.png" alt="photo" >
               </a>
             </li>
             <li class="mix beck-stone">
               <a href="img/portfolio/large/20.png">
                 <div class="overlay">
                   <i class="fa fa-search"></i>
                 </div>
                 <img src="img/portfolio/small/20.png" alt="photo" >
               </a>
             </li>
           </ul>
         </div>
       </div>
   </div>
</section>
