<section id="page-profile" class="page-profile">
  <div class="container">
    <header class="section-header">
        <h2 class="section-title">About Us</h2>
        <div class="spacer"></div>
        <p class="section-subtitle">The little black puppy charity was set up to help support the Little Adoption Shop and stray dogs of Beijing.</p>
    </header>
    <div class="row">
      <div class="col-md-3">
         <div class="profile"><img src="img/profile.png" alt="profile"/></div>
      </div>
       <div class="col-md-9">
        <p>Working with Chris Bardon's animal shelter we aim to help as many abandoned, injured and unloved dogs as we humanly can.</p>
        <p>Why Beijing? It all started when I was on a business trip last year, I desperately wanted to help a little black puppy who two deformed front legs who was roaming near where I was working.  Unfortunately I couldn't help her but we did manage to rescue two of her brothers and bring them back to London where they currently live in the lap of doggy luxury.</p>
        <p>When I returned I knew that I had to do something to help these poor dogs, in the UK there are many animal charities who do amazing work to help.  There was nothing like this in Beijing. thats why I decided to start the Little Black Puppy Charity, in memory of that poor unfortunate puppy I so badly wanted to save and to ensure that the many like her would have a good life with loving owners.</p>
        <p>We work mainly with Chris Bardon and Dr Beck and Stone vetnerary clinic in China raising funds to treat and re-home the strays of Beijing</p>
      </div>
    </div>
  </div>
</section>
