  <section id="page-trustees" class="page-trustees">
  <div class="container">
    <header class="section-header">
      <h2 class="section-title"><span>Trustees</span></h2>
      <div class="spacer"></div>
      <p class="section-subtitle">A little more information about us. </p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <article class="trustee">
          <header>
            <h3>Rae Ghazni</h3>
            <p>Trustee - <strong>Lives:</strong> London</p>
          </header>
          <p>Rae has run her own business for over 15 years providing technology for market research, it was on a business trip in 2013 that the little black puppy came into her life.  A dog lover already with two west highland terriers she rescued two of the black puppies brothers Joe and Monty who live with her and her husband in London.
          </p>
        </article>
      </div>
      <div class="col-md-6">
        <article class="trustee">
          <header>
            <h3>Christopher Bardon</h3>
            <p>Trustee  - <strong>Lives:</strong> Beijing</p>
          </header>
          <p>Chris, is an American vegan living in Beijing, he runs the Little Adoption Shop in Bejing which rescues and rehomes unfortunte animals.<br/><br/>
            <a href="https://www.facebook.com/LittleAdoptionShop">www.facebook.com/LittleAdoptionShop</a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
