<section id="page-welcome" class="page-welcome">
  <div>
      <ul class="slider-controls">
          <li><a id="vegas-next" class="next" href="#"></a></li>
          <li><a id="vegas-prev" class="prev" href="#"></a></li>
      </ul>
    </div>
    <div class="container">
        <div class="row">
            <header>
                <img src="img/puppy_logo.png" alt="The Little Black Puppy Charity"/>
            </header>
            <div class="social-icons">
              <a href="https://twitter.com/blackpuppy100" class="btn btn-round btn-clear btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.facebook.com/blackpuppy100" class="btn btn-round btn-clear btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://instagram.com/blackpuppy100" class="btn btn-round btn-clear btn-instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://plus.google.com/u/0/b/117049794364143567227/117049794364143567227/about" class="btn btn-round btn-clear btn-google">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
            <h3 style="color:#FFF; text-transform: uppercase">Registered Charity England and Wales #1157150</h3>
            <a href="#page-donate" class="btn btn-default donate">Donate</a>
        </div>
    </div>
</section>
