html, body {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color:#757575;
}

img {
  max-width: 100%;
}

a:link,a:visited {
  outline: 0;
}

a:hover,a:active {
  text-decoration: none;
}

a img {
  border: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}
